.ficha {
    max-width: 200px;
    height: 34px;
    border-radius: 50%;
    border: 8px double;
    cursor: pointer;
}

.ficha-negra {
    background-color: rgb(117, 117, 117);
}

.ficha-marron {
    background-color: rgb(148, 39, 39);
}

.movement {
    width: 20px;
    height: 20px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 50%;
    margin: auto auto;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 8px double;
    cursor: pointer;
}